body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/518/776/non_2x/blue-background-with-light-boxes-on-ceiling-abstract-gradient-studio-and-wall-texture-vector.jpg);
    background-size: 100vw 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'helvetica';
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    font-size: 23px;
    padding-top:1% ;
    padding-bottom: 1%;
}
table{
    margin-top: 3%;
    width: 100%; 
}
table tr{
    background: rgba(0, 0, 0, 0.452);
    color: rgba(255, 255, 255, 0.699);
}
th{
    background: black;
}
a.eliminar{
    color: white;
    font-size: 15px;
    background:rgb(255, 0, 0);
    text-decoration: none;
    padding: 10px;  
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 2px;
}
a.edit{
    color: rgb(0, 0, 0);
    font-size: 15px;
    background:rgb(255, 217, 0);
    text-decoration: none;
    padding: 10px;  
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}
table tr td a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

caption{
    font-size: 40px;
    color:rgba(255, 255, 255, 0.699);
    background-color:rgba(0, 0, 0, 0.247);
}
.agregar{
    color: rgb(0, 0, 0);
    font-size: 25px;
    background:rgba(87, 86, 86, 0.836);
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}

.agregar:hover{
    background-color: rgba(0, 0, 0, 0.781);
    color: rgb(158, 189, 248);
    border-bottom: 1px solid  rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}